<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Admin</title>
</head>
<body>
    <header class="navbar navbar-dark">
        <a class="navbar-brand" href="#">Company Name</a>
        <button>
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div></div>
    <nav></nav>
    <div class="containe1r">
        <h1>admin page</h1>
        <div class="total-clicks">Total Clicks</div>
        <div class="total-clicks">Total Sales</div>
        <div class="total-clicks">Conversion Rates</div>
        <div>Add/Edit Tracking:</div>
        <div>Add platforms, products, and commissions.</div>
        <div>Generate tracking URLs with GCLID.</div>
        <div>Test Data Sending: A simple button to test data flow to Google Ads.</div>
        
        <form action=""></form>
    </div>
    
</body>
</html>