<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <h1>admin page</h1>
        <div class="total-clicks">Total Clicks</div>
        <div class="total-clicks">Total Sales</div>
        <div class="total-clicks">Conversion Rates</div>
        <div>Add/Edit Tracking:</div>
        <div>Add platforms, products, and commissions.</div>
        <div>Generate tracking URLs with GCLID.</div>
        <div>Test Data Sending: A simple button to test data flow to Google Ads.</div>
    </div>
    
</body>
</html>