<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.3.3-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Ads Site</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card col-md-6 col-lg-4" id="ad-one">
                <div class="card-body">
                    <div class="card-header">Ad Number One Title</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque natus quos numquam aut rerum, praesentium, a, 
                        aspernatur recusandae odit repellendus laudantium assumenda dolore 
                        laboriosam! Quisquam enim sint nemo non! Odio.
                    </p>
                </div>
            </div>
    
            <div class="card col-md-6 col-lg-4" id="ad-two">
                <div class="card-body">
                    <div class="card-header">Ad Number Two Title</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque natus quos numquam aut rerum, praesentium, a, 
                        aspernatur recusandae odit repellendus laudantium assumenda dolore 
                        laboriosam! Quisquam enim sint nemo non! Odio.
                    </p>
                </div>
            </div>
            <div class="card col-md-6 col-lg-4" id="ad-three">
                <div class="card-body">
                    <div class="card-header">Ad Number Three Title</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque natus quos numquam aut rerum, praesentium, a, 
                        aspernatur recusandae odit repellendus laudantium assumenda dolore 
                        laboriosam! Quisquam enim sint nemo non! Odio.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

        <div class="card col-md-6 col-lg-4" id="ad-four">
            <div class="card-body">
                <div class="card-header">Ad Number Four Title</div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque natus quos numquam aut rerum, praesentium, a, 
                    aspernatur recusandae odit repellendus laudantium assumenda dolore 
                    laboriosam! Quisquam enim sint nemo non! Odio.
                </p>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4" id="ad-five">
            <div class="card-body">
                <div class="card-header">Ad Number Five Title</div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque natus quos numquam aut rerum, praesentium, a, 
                    aspernatur recusandae odit repellendus laudantium assumenda dolore 
                    laboriosam! Quisquam enim sint nemo non! Odio.
                </p>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4" id="ad-six">
            <div class="card-body">
                <div class="card-header">Ad Number Six Title</div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Doloremque natus quos numquam aut rerum, praesentium, a, 
                    aspernatur recusandae odit repellendus laudantium assumenda dolore 
                    laboriosam! Quisquam enim sint nemo non! Odio.
                </p>
            </div>
        </div>
        </div>

    </div>
</body>
<script src="js/adSite.js" defer></script>
</html>