<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos maiores ipsa non similique quaerat enim fugit vel ullam quibusdam perferendis, quas consequuntur, ipsum necessitatibus delectus vero eveniet mollitia ratione beatae</p>
    </div>
</body>
</html>